In [25]:
#Q1a
#Import the bitcoin csv 
import numpy as np
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Desktop\BTC_USD_2014-11-04_2022-02-01-CoinDesk.csv")

In [26]:
#Q1b
#Create a new column S/N for the dataset and make it the index
df["S/N"] = [x for x in range(1,2648)]
df.set_index("S/N", inplace=True)

#Q2
df2 = df.loc[:, ["Date","24h Open (USD)"]]

In [27]:
#Q3 - Method 1
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before

listA = []
for x in range(len(df2["24h Open (USD)"])):
    if x == 0:
        listA.append("NaN")
    else:
        y = (df2.iloc[x,1]) - (df2.iloc[x-1,1])
        listA.append(y)


df2["Difference"] = listA

print("HEAD")
print(df2.head(10))
print
print("TAIL")
print(df2.tail(10))

HEAD
           Date  24h Open (USD) Difference
S/N
1    2014-11-04      323.826186        NaN
2    2014-11-05      324.424164   0.597978
3    2014-11-06      328.653046   4.228882
4    2014-11-07      337.921358   9.268312
5    2014-11-08      348.992860  11.071502
6    2014-11-09      341.459753  -7.533107
7    2014-11-10      344.745289   3.285536
8    2014-11-11      371.116917  26.371628
9    2014-11-12      367.921363  -3.195554
10   2014-11-13      366.789056  -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214

In [28]:
#Q3 - Method 2
#Create a subset of the dataframe taking only 2 columns - Date and 24h Open (USD) in that order
df3 = df.loc[:, ["Date","24h Open (USD)"]]  #New subset

In [29]:
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before
df3["Difference"] = df3["24h Open (USD)"] - df3["24h Open (USD)"].shift()

print("HEAD")
print(df3.head(10))
print
print("TAIL")
print(df3.tail(10))

HEAD
           Date  24h Open (USD)  Difference
S/N
1    2014-11-04      323.826186         NaN
2    2014-11-05      324.424164    0.597978
3    2014-11-06      328.653046    4.228882
4    2014-11-07      337.921358    9.268312
5    2014-11-08      348.992860   11.071502
6    2014-11-09      341.459753   -7.533107
7    2014-11-10      344.745289    3.285536
8    2014-11-11      371.116917   26.371628
9    2014-11-12      367.921363   -3.195554
10   2014-11-13      366.789056   -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214

In [30]:
#Q3 - Method 3
#Create a subset of the dataframe taking only 2 columns - Date and 24h Open (USD) in that order
df4 = df.loc[:, ["Date","24h Open (USD)"]]  #New subset
df4

            Date  24h Open (USD)
S/N
1     2014-11-04      323.826186
2     2014-11-05      324.424164
3     2014-11-06      328.653046
4     2014-11-07      337.921358
5     2014-11-08      348.992860
...          ...             ...
2643  2022-01-28    36828.097867
2644  2022-01-29    37197.309145
2645  2022-01-30    37748.360000
2646  2022-01-31    38176.886567
2647  2022-02-01    37925.166353

[2647 rows x 2 columns]

In [31]:
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before
df4["Difference"] = df4["24h Open (USD)"].subtract(df4["24h Open (USD)"].shift()) #shift can take an argument - periods = 1

print("HEAD")
print(df4.head(10))
print
print("TAIL")
print(df4.tail(10))

HEAD
           Date  24h Open (USD)  Difference
S/N
1    2014-11-04      323.826186         NaN
2    2014-11-05      324.424164    0.597978
3    2014-11-06      328.653046    4.228882
4    2014-11-07      337.921358    9.268312
5    2014-11-08      348.992860   11.071502
6    2014-11-09      341.459753   -7.533107
7    2014-11-10      344.745289    3.285536
8    2014-11-11      371.116917   26.371628
9    2014-11-12      367.921363   -3.195554
10   2014-11-13      366.789056   -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214

In [32]:
#Q3 - Method 4
#Create a subset of the dataframe taking only 2 columns - Date and 24h Open (USD) in that order
df5 = df.loc[:, ["Date","24h Open (USD)"]]  #New subset

In [33]:
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before
df5["Difference"] = df5["24h Open (USD)"].diff(periods=1)

print("HEAD")
print(df5.head(10))
print
print("TAIL")
print(df5.tail(10))

HEAD
           Date  24h Open (USD)  Difference
S/N
1    2014-11-04      323.826186         NaN
2    2014-11-05      324.424164    0.597978
3    2014-11-06      328.653046    4.228882
4    2014-11-07      337.921358    9.268312
5    2014-11-08      348.992860   11.071502
6    2014-11-09      341.459753   -7.533107
7    2014-11-10      344.745289    3.285536
8    2014-11-11      371.116917   26.371628
9    2014-11-12      367.921363   -3.195554
10   2014-11-13      366.789056   -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214

In [34]:
#Q3 - Method 5
#Create a subset of the dataframe taking only 2 columns - Date and 24h Open (USD) in that order
df6 = df.loc[:, ["Date","24h Open (USD)"]]  #New subset

In [35]:
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before
df6["Difference"] = df6["24h Open (USD)"].rolling(window=2).apply(lambda x: x.iloc[1] - x.iloc[0])

print("HEAD")
print(df6.head(10))
print
print("TAIL")
print(df6.tail(10))

HEAD
           Date  24h Open (USD)  Difference
S/N
1    2014-11-04      323.826186         NaN
2    2014-11-05      324.424164    0.597978
3    2014-11-06      328.653046    4.228882
4    2014-11-07      337.921358    9.268312
5    2014-11-08      348.992860   11.071502
6    2014-11-09      341.459753   -7.533107
7    2014-11-10      344.745289    3.285536
8    2014-11-11      371.116917   26.371628
9    2014-11-12      367.921363   -3.195554
10   2014-11-13      366.789056   -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214

In [36]:
#Q3 - Method 6
#Create a subset of the dataframe taking only 2 columns - Date and 24h Open (USD) in that order
df7 = df.loc[:, ["Date","24h Open (USD)"]]  #New subset

In [37]:
#Create a new column -Difference- and fill it with the price (24h Open (USD) ) differences between each day and a day before
df7["Difference"] = df["24h Open (USD)"].rolling(window=2).apply(np.diff)

print("HEAD")
print(df7.head(10))
print
print("TAIL")
print(df7.tail(10))

HEAD
           Date  24h Open (USD)  Difference
S/N
1    2014-11-04      323.826186         NaN
2    2014-11-05      324.424164    0.597978
3    2014-11-06      328.653046    4.228882
4    2014-11-07      337.921358    9.268312
5    2014-11-08      348.992860   11.071502
6    2014-11-09      341.459753   -7.533107
7    2014-11-10      344.745289    3.285536
8    2014-11-11      371.116917   26.371628
9    2014-11-12      367.921363   -3.195554
10   2014-11-13      366.789056   -1.132307
TAIL
            Date  24h Open (USD)   Difference
S/N
2638  2022-01-23    36483.314556 -4230.657758
2639  2022-01-24    35070.896987 -1412.417569
2640  2022-01-25    36285.633626  1214.736639
2641  2022-01-26    36699.999462   414.365836
2642  2022-01-27    36970.783896   270.784434
2643  2022-01-28    36828.097867  -142.686029
2644  2022-01-29    37197.309145   369.211278
2645  2022-01-30    37748.360000   551.050855
2646  2022-01-31    38176.886567   428.526567
2647  2022-02-01    37925.166353  -251.720214